#header {
    margin: 50px 0;
}

.header-banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/BannerImage.png');
    padding: 163px 0;
    border-radius: 16px;
}

.section-heading {
    width: 550px;
    text-align: center;
    margin: 20px auto;
}

.section-heading>h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

.section-heading>h1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

#holiday-deals {
    margin-top: 70px;
}

.deals-heading {
    width: 50%;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
}

.deals-heading>.deals-percentage {
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.deals-heading>img {
    margin-top: 48px;
}

#invitation-card {
    margin: 120px 0;
}

.card-info {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    padding: 65px 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-info>.card-heading {
    width: 700px;
    text-align: left;
    margin: 20px auto;
}

.card-info>.card-heading>h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    margin-bottom: 24px;
}

.card-info>.card-heading>p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.card-info>.card-heading>button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: none;
    padding-left: 30px;
}

.card-info>.card-img img {
    padding-right: 156px;
}

#address>.address-info {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 126px 0;
    border-radius: 16px;
}

.address-info>.address-heading {
    width: 550px;
    text-align: center;
    margin: 20px auto;

}

.address-info>.address-heading>h3 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.address-info>.address-heading>.address-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: #F00;
    margin-top: 48px;
    padding: 16px 32px;
    border-radius: 8px;
    border: 0;
    text-align: center;
}

#best-offer {
    margin: 120px 0;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content>.offer-heading * {
    width: 393px;
    margin: 20px auto;
    text-align: left;
    margin-bottom: 18px;
}

.section-content>.offer-img {
    width: 364px;
    border-radius: 250px;
    border: 15px solid #F00;
    padding: 22px;
    margin: 0 auto;
}

.section-details>p {
    width: 276px;
    margin-bottom: 35px;
}

#holiday-sale>.sale-info>.sale-heading {
    text-align: center;
    width: 885px;
    margin: 120px auto;
    margin-bottom: 64px;
}

.sale-info>.sale-heading>h3 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.sale-info>.sale-heading>h1 {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 15px;
}

.sale-info>.sale-heading>p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

#holiday-sale>.sale-info>.sale-content {
    background: url('../resources/Rectangle1.png'), url('../resources/Rectangle2.png');
    background-repeat: no-repeat;
    background-position: top right, bottom;
    background-size: 32.8%, 100%;
}

.sale-content>.sale-img {
    margin-bottom: 300px;
    margin-left: -65px;
}

#our-product {
    margin: 120px 0;
}

.product-info>.product-heading>*{
    width: 896px;
    margin-bottom: 18px;
}

.product-info>.product-heading>p{
    margin-bottom: 48px;
}

.product-info>.product-img{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    cursor: pointer;  
}
.product-info>.product-img>.product{
    border-radius: 28px;
}

.product:hover{
    border-radius: 20px;
    border: 10px solid lightgray;
}

#news-latter{
    margin: 120px 0;
}

#news-latter>.news-latter-info {
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    padding: 80px 0;
}

.news-latter-info>.news-latter-heading{
    width: 896px;
    text-align: center;
    margin: 20px auto;
}

.news-latter-info>.news-latter-heading>h1{
    margin: 40px 0;
}

.news-latter-info>form {
    max-width: 648px;
    margin: 20px auto;
    display: flex;
    gap: 10;
    margin-top: 48px;
}

.news-latter-info>form input {
    flex-grow: 1;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: 0;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 30px;
}

#news-latter>.news-latter-info>form button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
}

#footer {
    background-color: #070211;
    ;
    display: flex;
    justify-content: space-around;
    padding: 120px 140px;
}

#footer>.footer-address {
    width: 375px;
}

#footer>.footer-contract {
    display: inline-block;

}